.main {
	height: 100%;

	.topCol {
		display: flex;
		justify-content: start;
		align-items: center;
		.searchbar {
			width: 30%;
			min-width: 200px;
			margin: 10px;
		}
		.actionButton{
			margin-left: 10px;
			
		}

	}

	.tableStyle {
		overflow: scroll;
		height: 90%;

		thead {
			white-space: nowrap;

			th {
				text-align: center;
			}
		}

		td {
			vertical-align: middle;
			text-align: center;
			white-space: nowrap;

			img {
				cursor: pointer;
			}
		}
	}
}